<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h2>Product Enquiry</h2>
            </td>
        </tr>
    <tr>
        <td>Customer Name</td>
        <td>
             <span>#name#</span>
        </td>
    </tr>
        <tr>
            <td>Address</td>
            <td>
                <span>#address#</span>
            </td>
        </tr>
        <tr>
            <td>
                Phone No
            </td>
            <td>
                <span>#phone#</span>
            </td>
        </tr>
        <tr>
            <td>
                Mobile No
            </td>
            <td>
                <span>#mobile#</span>
            </td>
        </tr>
        <tr>
            <td>
                Email Address
            </td>
            <td>
                <span>#email#</span>
            </td>
        </tr>
        <tr>
            <td>
                Product Name
            </td>
            <td>
                <span>#product#</span>
            </td>
        </tr>
        <tr>
            <td>
                Your Query
            </td>
            <td>
                <span>#query#</span>
            </td>
        </tr>
        </table>
</body>
</html>
